{% extends '_layout.twig' %}
{% set page_title = meta.title|default('Page') %}

{% block content %}
<article>
  <h1 style="font-size:5rem;">{{ meta.title|default('') }}</h1>
  {{ html|raw }}
</article>
{% endblock %}
